/***********************************************
*                   MOBILE                     *
***********************************************/
body {
    color: #ecfcff;
    background-color: #ecfcff;
    font-family: 'Pompiere', cursive;
    font-size: 20px;
}

body div {
    padding: 20px;
}

header, footer {
    background: #5edfff; /* Old browsers */
    background: -moz-linear-gradient(top,  #5edfff 0%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #5edfff 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #5edfff 0%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5edfff', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    letter-spacing: 0.1em;
}

h2 {
    color: black;
    text-align: center;
}

footer {
    max-width: 960px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;  
}

.heading {
    font-family: 'Caveat', cursive;
    font-size: 40px;
    margin-top: 0px;
    color: white;
}

#title {
    color: black;
    text-align: center;
    margin-left: 30px;
}

ul {
    padding: 0px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    text-align: center;
}

nav ul li {
    background: #00f6ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #00f6ff 0%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #00f6ff 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #00f6ff 0%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f6ff', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    margin: 0 auto;
    font-weight: bold;
    color: black;
}

nav ul li:hover {
    background: #0033ff; /* Old browsers */
    background: -moz-linear-gradient(top, #0033ff 0%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0033ff 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0033ff 0%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0033ff', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.active {
    background: #ecfcff;
}

button {
    background: #00f6ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #00f6ff 0%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #00f6ff 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #00f6ff 0%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f6ff', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    padding: 10px;
    width: 100%;
    font-weight: bold;
}

nav ul.hide {
    display: none;
}

nav ul.show {
    display: block;
}

main {
    padding: 0 2%;
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

.towns {
    display: flex;
    flex-flow: column;
    text-align: center;
    color: black;
    font-family: 'Pompiere', cursive;
    font-size: 1.5em;
    margin-right: auto;
    margin-left: auto;
    height: auto;
}

.towns section:nth-child(1){
    order: 3;
}

section {
    background: #5edfff; /* Old browsers */
    background: -moz-linear-gradient(top,  #5edfff 0%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #5edfff 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #5edfff 0%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5edfff', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    text-align: center;
    border-style: solid;
    border-width: thin;
    padding: 10px;
    height: auto;
    margin-top: 10px;
}

section p {
   margin-top: 8px;
   margin-bottom: 10px;
}

section h2 {
    margin-bottom: 0px;
    margin-top: 10px;
}

section h4 {
    margin-top: 2px;
}

section img {
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
}

.fa {
    padding: 10px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

.contact {
    max-width: 955px;
    height: auto;
    border-style: solid;
    margin-top: 10px;
    padding: 0px;
    font-family: 'Pompiere', cursive;
    font-size: 1.5em;
    color: black;
    text-align: center;
}

.contact p {
    margin-bottom: 0px;
    margin-top: 0px;
}

.contact h3 {
    margin-bottom: 0px;
    text-decoration-line: none;
}

.contact img {
    display: none;
}
